div {
    width: 950px;
    margin-top: 25px;
    margin-left: 30px;
    display: inline-block;
}

.header { margin-left: 17%;}

button {
    float: right; 
    margin-top: 70px;
}

.paragraph {
    width: 550px;
    column-count: 2;
}